/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-height: 100%;
  max-width: 100%;
}

body {
    background-color: #f2f4f6;
    font-family: 'Lato', sans-serif;
}

input {
    border-radius: 0;
  }
  
  input[type="search"] {
    -webkit-appearance: none;
  }

